#content {
    display: grid;
    grid-template-rows: 1fr 16fr 8fr 8fr 2fr;
    grid-template-columns: 1fr;
}
#tagline-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
#tagline-container div {
    height: 100%;
}
#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#statement-container {
    color: white;
    padding: 20px;
    display: flex;
    margin: 50px;
    max-width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#statement-container p {
    text-align: center;
}
#food-types-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
#food-types-container > div {
    text-align: center;
}
.img-types {
    border: solid 4px black;
    border-radius: 5px;
}
#georgia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DB1F48;
}
#georgia-description {
    padding: 10px;
    width: 25vw;
}
#wiki-button:hover {
    background-color: black;
}
iframe {
    width: 450px;
    height: 350px;
    border: solid 2px black;
    border-radius: 5px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}
#icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}
footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    color: white;
    background-color: black;
    border: solid 2px white;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}
button:hover {
    background-color: #DB1F48;
    border: none;
}