#content {
    display: grid;
    grid-template-rows: 1fr 8fr 3fr 3fr 1fr;
    grid-template-columns: 1fr;
}
#tagline-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#tagline-container :first-child {
    background-color: red;
}
#tagline-container :last-child {
    background-color: blue;
}
#food-types-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#food-types-container > div {
    background-color: yellow;
}
#georgia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
